# DEBUG = True

## webserver host and port
# HOST = '0.0.0.0'
# PORT = 5000

SECRET = 'foobar'
SECRET_KEY = 'my-session-secret'

## project configuration
BRAND = 'Set the Brand in your config'
TITLE = 'Set the Title in your config'
COPYRIGHT = 'Set Your Institution in your config'
DESCRIPTION = 'Set the description in your config'

## Google Analytics
TRACKINGCODE= 'UA-XXXXX-Y'

## Carousel disabled by default!
HEROUNIT = True
CAROUSEL = False
